.todo__card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 29.5%;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    padding: 20px;
    margin: 50px 0;
    background: var(--card-todo);
    transition: background 0.3s;
}

.todo__card--done {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--card-completed);
    transition: background 0.3s;
}

.todo__success_mark {
    position: absolute;
    display: flex;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    color: #f0f0f0;
    font-size: 24px;
    font-weight: bold;

    flex-shrink: 0;
}

.todos__single--text {
    display: flex;
    justify-content: start;
    align-items: center;
    min-width: 0;
    border: none;
    flex: 1;
    padding: 5px;
    margin-left: 35px;
    font-size: 20px;
    color: #f0f0f0;
    overflow-wrap: anywhere;
    word-spacing: 5px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.todos__single--text:focus {
    outline: none;
}

.icon__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin-left: 10px;
    padding: 5px;
    font-size: 20px;
    color: #f0f0f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background: var(--icon-background);
    border-radius: 50%;
    cursor: pointer;
}

.edit__icon,
.completed__icon {
    color: #f0f0f0;
}

.delete__icon {
    color: red;
}

.todo__content {
    display: flex;
    min-width: 0;
    flex: 1;
    align-items: center;
}

.icon--disabled {
    opacity: 0.4;
    cursor: not-allowed;
    pointer-events: none;
}
