@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

.App {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2f74c0;
    font-family: 'Luckiest Guy', cursive;
}

.heading {
    font-size: 100px;
    margin: 40px 0;
    padding-top: 20px;
    color: #f0f0f0;
    text-align: center;
    z-index: 1;
}

.subheading {
    margin-bottom: 25px;
    color: #f0f0f0;
    text-align: center;
    word-spacing: 6px;
    font-size: 20px;
    z-index: 1;
}

@media (max-width: 800px) {
    .heading {
        margin: 15px 0;
        font-size: 35px;
    }
}
