@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

:root {
    /* Global */
    --primary: linear-gradient(
        15deg,
        #3a2dff 0%,
        #3c34ff 3.03%,
        #3f3bff 6.061%,
        #4143ff 9.091%,
        #444cff 12.121%,
        #4756ff 15.152%,
        #4a60ff 18.182%,
        #4c6aff 21.212%,
        #4e74ff 24.242%,
        #4f7eff 27.273%,
        #5087ff 30.303%,
        #5191ff 33.333%,
        #5199ff 36.364%,
        #50a1ff 39.394%,
        #4fa8ff 42.424%,
        #4eafff 45.455%,
        #4cb4ff 48.485%,
        #4ab8ff 51.515%,
        #47bbff 54.545%,
        #45bdff 57.576%,
        #42beff 60.606%,
        #3fbdff 63.636%,
        #3cbbff 66.667%,
        #3ab8ff 69.697%,
        #38b4ff 72.727%,
        #36aeff 75.758%,
        #35a8ff 78.788%,
        #34a1ff 81.818%,
        #3499ff 84.848%,
        #3490ff 87.879%,
        #3587ff 90.909%,
        #367dff 93.939%,
        #3873ff 96.97%,
        #3a69ff 100%
    );

    /* Button */
    --button-primary: linear-gradient(
        135deg,
        #008fe5 0%,
        #159ee8 50%,
        #3b82f6 100%
    );

    /* Card */
    --card-todo: #fea319;
    --card-completed: #22c55e;

    /* Icon */
    --icon-background: #f18914;
    --icon-hover: #bfdbfe;

    --text-primary: ;
}

.App {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Luckiest Guy', cursive;
    background: var(--primary);
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    font-size: 100px;
    color: #f0f0f0;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.subheading {
    margin: 40px 0;
    color: #f0f0f0;
    text-align: center;
    word-spacing: 6px;
    font-size: 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    z-index: 1;
}

@media (max-width: 992px) {
    .heading {
        margin-bottom: 20px;
        font-size: 80px;
    }

    .subheading {
        margin: 20px 0;
        font-size: 18px;
    }
}

@media (max-width: 576) {
    .heading {
        font-size: 36px;
    }

    .subheading {
        margin: 15px 0;
        font-size: 16px;
    }
}
